@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --black: 0, 0, 0;
  --grey: 50, 50, 50;
  --orange: 235, 122, 41;
  --orange-light: 229, 185, 154;
}

body {
  color: rgb(var(--grey));
}

.bg-orange {
  background-color: rgb(var(--orange-light));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  color: rgb(var(--orange-light));
  font-weight: 600;
  text-transform: uppercase;
  font-size: 3rem;
}

h2 {
  color: rgb(var(--orange));
}

.bg-header {
  background-position: 90% -1px;
}

nav .header__active-menu-item,
nav .header__menu-item:hover {
  border-bottom: 2px solid rgb(var(--orange));
}

.banner--mask {
  background-color: black;
  opacity: 0.2;
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
}
